@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

h2 {
    position: relative;
    font-size: 3em;
    letter-spacing: 0.05em;
    cursor: default;
    text-transform: uppercase;
    font-weight: 500;
}

h2 span {
    color: #555;
    transition: 0.25s;
}

h2:hover span {
    color: #00ff2a;
    text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;
}